<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap5/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome6/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/ico.png') }}" type="image/x-icon">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="wrapper">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="{{ url_for('home') }}" class="d-flex align-items-center ms-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">Rotate image</span>
            </a>
    
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('downloadpage') }}" class="nav-link">Download</a></li>
                <li class="nav-item"><a href="{{ url_for('flip') }}" class="nav-link">Rotate img</a></li>
                <li class="nav-item"><a href="{{ url_for('upload') }}" class="nav-link">Upload</a></li>
                <li class="nav-item"><a href="https://github.com/Nikita-Goncharov" class="nav-link">My GitHub</a></li>
            </ul>
        </header>
        <main class="container">
            {% block content %}{% endblock %}
        </main>
        <footer class="bg-dark text-center text-white">
            
            <div class="container p-4 pb-0">
                <section class="mb-4">
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-telegram"></i></a>
    
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
    
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa-solid fa-envelope"></i></a>
    
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
                </section>

            </div>
            <div class="text-center p-3" style="background-color: #00000033;">
                Was created in 2022
            </div>
        </footer>
    </div>
</body>

</html>